<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Delete Sucursals</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        h1{text-align: center;}
    </style>
</head>
<body>
<h1>Sucursals APP</h1>
<h2>Add sucursal:</h2>
<form action="#" th:action="@{/sucursal/add}" th:object="${form}"
      method="post">
    <fieldset>
        <input type="submit" id="submitButton" th:value="Save">
        <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
        <table>
            <thead>
            <tr>
                <th> Title</th>
                <th> Author</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book, itemStat : *{books}">
                <td><input th:field="*{books[__${itemStat.index}__].title}" /></td>
                <td><input th:field="*{books[__${itemStat.index}__].author}" /></td>
            </tr>
            </tbody>
        </table>
    </fieldset>
</form>
</body>
</html>