<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Error</title>
    <style>
        h1{text-align: center;}
        h2{color: red;}
    </style>
</head>

<body>
<h1>Sucursals APP</h1>
<h2>Error: endpoint not found</h2><br>
<p>
    Try using the following endpoints:<br>
<ul>
    <li>http://localhost:9000/sucursal/add</li>
    <li>http://localhost:9000/sucursal/update</li>
    <li>http://localhost:9000/sucursal/delete/{id}</li>
    <li>http://localhost:9000/sucursal/getOne/{id}</li>
    <li>http://localhost:9000/sucursal/getAll</li>
</ul>

</p>

</body>

</html>