<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Get Sucursals</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        h1{text-align: center;}
    </style>
</head>
<body>
<h1>Sucursals APP</h1>
<h2>Sucursals info:</h2>
<p th:if="${sucursals.empty}"> No Sucursal Available</p>
<div th:each="sucursal : ${sucursals}">
    <a>Sucursal ID: </a>
    <a th:text="${sucursal.pk_SucursalID}">Id</a>
    <a> - Nom: </a>
    <a th:text="${sucursal.nomSucursal}">Nom</a>
    <a> - Pais: </a>
    <a th:text="${sucursal.paisSucursal}">Pais</a>
    <a> / </a>
    <a th:text="${sucursal.tipusSucursal}">Tipus</a>

</div>
<!-- <table>
    <thead>
    <tr>
        <th> ID </th>
        <th> Nom </th>
        <th> Pais </th>
        <th> Tipus </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${sucursals.empty}">
        <td colspan="2"> No Sucursal Available </td>
    </tr>
    <tr th:each="sucursal : ${sucursals}">
        <td><span th:text="${sucursal.pk_SucursalID}"> ID </span></td>
        <td><span th:text="${sucursal.nomSucursal}"> Nom </span></td>
        <td><span th:text="${sucursal.paisSucursal}"> Pais </span></td>
        <td><span th:text="${sucursal.tipusSucursal}"> Tipus </span></td>

    </tr>
    </tbody>
</table> -->
</body>
</html>