<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Sucursals</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        h1{text-align: center;}
    </style>
</head>
<body>
<h1>Sucursals APP</h1>
<h2>Updated sucursal:</h2>
<form action="#" th:action="@{/sucursal/update}" th:object="${updateDTO}" method="post">
    <p>Sucursal Id: <input type="number" th:field="*{pk_SucursalID}" required /></p>
    <p>Sucursal Nom: <input type="text" th:field="*{nomSucursal}" /></p>
    <p>Sucursal Pais: <input type="text" th:field="*{paisSucursal}" /></p>
    <input type="submit" id="submitButton" th:value="Save">
    <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
</form>
</body>
</html>